html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}



body {
    margin-bottom: 60px;
    background-image: url(../../Images/stettlerTrain.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav-item, .nav-link {
    color: white;
}

html {
    margin: 0;
}

ul {
    list-style-type: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/*th, label {
    color: white;
}
*/

h1 {
    color: white;
}


h4, th, label {
    color: #fec751;
    /*background-color: #781a16;*/
    border-radius: 5px;
}

form-group {
    width: 100px;
    color: aquamarine;
}
