@using TownOfStettler.Models.Exceptions

@{
    ViewData["Title"] = "New Device Entry";
}
<h1> Add A New Device to the Database</h1>
<h4>New Device from Invoice</h4>
<hr />

@if (ViewData["Exceptions"] != null)
{
    <ul>
        @foreach (Exception sub in (ViewData["Exceptions"] as ValidationException).SubExceptions)
        {
            <li>@sub.Message</li>
        }
    </ul>
}

<div class="row"> 
    <div class="col-md-4">
        <form asp-action="EnterNewDevice">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                <label class="control-label">Hardware Device</label>
                <input name="hardwareDevice" class="form-control" placeholder="Int" />
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">TOS Number</label>
                <input name="TOSNumber" class="form-control" placeholder="VarChar" />
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Monitor Size</label>
                <input name="monitorSize" class="form-control" placeholder="Int" />
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Monitor Type</label>
                <input name="monitorType" class="form-control" placeholder="Varchar" />
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Monitor Resolution</label>
                <input name="monitorResolution" class="form-control" placeholder="varchar"/>
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Monitor RefreshRate</label>
                <input name="monitorRefreshRate" class="form-control" placeholder="" />
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Monitor Serial Number</label>
                <input name="monitorSerialNumber" class="form-control" placeholder="" />
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Monitor Output</label>
                <input name="monitorOutput" class="form-control" placeholder=""/>
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Network Card Speed</label>
                <input name="networkCardSpeed" class="form-control" placeholder="" />
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Network Card Wireless</label>
                <input name="networkCardWireless" class="form-control" placeholder="" />
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Network Card Bluetooth</label>
                <input name="networkCardBluetooth" class="form-control" placeholder="" />
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Hard Drive Type</label>
                <input name="hardDriveType" class="form-control" placeholder="" />
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Hard Drive Size</label>
                <input name="hardDriveSize" class="form-control" placeholder=""/>
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Owner Location Name</label>
                <input name="ownerLocationName" class="form-control" placeholder=""/>
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Owner Address</label>
                <input nameownerAddress class="form-control" placeholder="" />
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Owner Phone Number</label>
                <input name="ownerPhoneNumber" class="form-control" placeholder="" />
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Processor Type</label>
                <input name="processorType" class="form-control" placeholder="" />
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Processor Speed</label>
                <input name="processorSpeed" class="form-control" placeholder="" />
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Processor Generation</label>
                <input name="processorGeneration" class="form-control" placeholder=""/>
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Processor Core Count</label>
                <input name="processorCoreCount" class="form-control" placeholder=""/>
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Ram Type</label>
                <input name="ramType" class="form-control" placeholder="" />
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Ram Size</label>
                <input name="RamSize" class="form-control" placeholder=""/>
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Ram Speed</label>
                <input name="ramSpeed" class="form-control" placeholder=""/>
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Secondary Drive Type</label>
                <input name="secondaryDriveType" class="form-control" placeholder=""/>
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Secondary Drive Removeable</label>
                <input name="secondaryDriveRemoveable" class="form-control" placeholder="" />
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Sound Card Brand</label>
                <input name="soundCardBrand" class="form-control" placeholder=""/>
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Video Card Brand</label>
                <input name="videoCardBrand" class="form-control" placeholder="" />
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Video Card Ram Size,</label>
                <input name="videoCardRamSize," class="form-control" placeholder="" />
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Video Card Output Type</label>
                <input name="videoCardOutputType" class="form-control" placeholder="" />
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Video Card Output Number</label>
                <input name="videoCardOutputNumber" class="form-control" placeholder="" />
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Warranty Type</label>
                <input name="warrantyType" class="form-control" placeholder="" />
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Warranty Length</label>
                <input name="warrantyLength" class="form-control" placeholder="" />
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Warranty Expiry Date</label>
                <input name="warrantyExpiryDate" class="form-control" placeholder="" />
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Device TOS Number</label>
                <input name="TOSnumber" class="form-control" placeholder="" />
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">CPU Ser Number</label>
                <input name="cpuSerNumber" class="form-control" placeholder="" />
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">CPU Model</label>
                <input name="cpuModel" class="form-control" placeholder="" />
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Store</label>
                <input name="store" class="form-control" placeholder="" />
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Price</label>
                <input name="price" class="form-control" placeholder="" />
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Date</label>
                <input name="date" class="form-control" placeholder="" />
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">CPU OS</label>
                <input name="cpuOS" class="form-control" placeholder="" />
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Notes</label>
                <input name="notes" class="form-control" placeholder="" />
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Mon TOS Num</label>
                <input name="monTOSNum" class="form-control" placeholder="" />
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Mon Ser Num</label>
                <input name="monSerNum" class="form-control" placeholder="" />
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Mon Out Num</label>
                <input name="monOutNum" class="form-control" placeholder="" />
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Network Card Ser Num</label>
                <input name="networkCardSerNum" class="form-control" placeholder="" />
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">HDD Ser Num</label>
                <input name="HDDserNum" class="form-control" placeholder=""/>
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Hrdwre TOS Num</label>
                <input name="hrdwreTOSnum" class="form-control" placeholder="" />
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Hrdwre Type</label>
                <input name="hrdwreType" class="form-control" placeholder="" />
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Pwr Supply</label>
                <input name="pwrSupply" class="form-control" placeholder="" />
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Processor Ser Num</label>
                <input name="processorSerNum" class="form-control" placeholder=""/>
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Ram Ser Num</label>
                <input name="ramSerNum" class="form-control" placeholder=""/>
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Misc Drive Ser Num</label>
                <input name="miscDriveSerNum" class="form-control" placeholder=""/>
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Vid Card Ser Num</label>
                <input name="vidCardSerNum" class="form-control" placeholder=""/>
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Printer Type</label>
                <input name="printerType" class="form-control" placeholder=""/>
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Connection Type</label>
                <input name="connectionType" class="form-control" placeholder="" />
            </div>
            <p></p>
            <div class="form-group">
                <input type="submit" value="This is the GO button!" class="btn btn-primary"/>
            </div>


        </form>

</div></div>