@{
    ViewData["Title"] = "Home Page";

    string[,] allTables = new string[,] {
                            { "", "Home", "Index"},
                            { "Device Information", "DeviceInformation", "Index"},
                            { "Display Monitor", "DisplayMonitor", "Index"},
                            { "Ethernet Network", "EthernetNetwork", "Index" },
                            { "Hard Drive", "HardDrive", "Index"},
                            { "Hardware Device", "HardwareDevice", "Index"},
                            { "History", "History", "Index" },
                            { "Modification", "Modification", "Index"},
                            { "Other Hardware", "OtherHardware", "Index"},
                            { "Output", "Output", "Index"},
                            { "OwnerLocation", "OwnerLocation", "Index"},
                            { "Part", "Part", "Index" },
                            { "Printer", "Printer", "Index"},
                            { "Processor", "Processsor", "Index"},
                            { "Ram", "Ram", "Index" },
                            { "Secondary Drive", "SecondaryDrives", "Index"},
                            { "Software", "Software", "Index" },
                            { "Sound Card", "SoundCard", "Index"},
                            { "Video Card", "VideoCard", "Index"},
                            { "Warranty", "Warranty", "Index" } 

    };
 int tableNumber = ViewBag.tableNumber ?? 0;


}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>


    


    <ul>
        <li class="nav-item mt-5">
            <form method="post" enctype="multipart/form-data"
                  asp-area="" asp-controller="Home" asp-action="Index">
                <label class="control-label mx-auto mb-1">Select Database Table</label>
                <select name="table_number" id="table_number" class="form-control w-75 mx-auto"
                        style="max-width:350px" onchange="this.form.submit()">
                    <option value=0 selected disabled hidden></option>
                    @for (int i = 1; i < allTables.GetLength(0); i++)
                    {
                        @if (@i == @tableNumber)
                        {
                            <option value=@i selected>@allTables[@i, 0]</option>
                        }
                        else
                        {
                            <option value=@i>@allTables[@i, 0]</option>
                        }
                    }
                </select>
            </form>

            <button class="btn btn-primary mt-2 px-0 py-0 fw-bold">
                <a class="nav-link text-white px-4 py-1" asp-area=""
                   asp-controller=@allTables[@tableNumber, 1]
                   asp-action=@allTables[@tableNumber, 2]>Go</a>
            </button>
        </li>
    </ul>

    <form asp-action="Index" method="get">
        <div class="form-group">
            <label for="SearchString">Search Item</label>
            <input type="text" class="form-control" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </form>


    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>




